body{
    font-family: 'Roboto Mono', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

section{
    margin: 80px 0px;
}

.color_pink{
    background-color: hotpink;
}

.navbar-brand{
    font-weight: 700;
    font-size: 30px;
    color: whitesmoke
}

header{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 250px 0px;
    color: whitesmoke;
}

header h2{
    font-weight: 200;
    font-size: 35px;
}

header h1{
    font-size: 60px;
}

.bio{
    font-size: 24px;
}

.resumen{
    text-align: justify;
    text-justify: inter-word;
    line-height: 200%;
}

#experiencias p{
    font-weight: 200;
}

.card-title{
    font-weight: 700;
    font-size: 20px;
}

.card-text{
    font-weight: 200;
}

.typeform-share{
    font-size: 24px;
    font-weight: 700;
}

.tooltip, .popover{
    font-family: 'Roboto Mono';
    font-size: 13px;
}

.card.zoom {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

footer{
    color: whitesmoke;
    vertical-align: top;
    padding: 50px 0px;
}

footer a{
    color: whitesmoke;
}

